<!DOCTYPE html>
<html>
	<head>
		<title>{% block title %}{% endblock %}</title>
		<link rel="icon" href="{{ url_for('static', filename='images/favicon/EZfav.ico') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/stylecss.css') }}" />
	</head>
	<body id="body">
		<div id="h1_title"><h1>{% block h1 %}{% endblock %}</h1>{% block option %}{% endblock %}</div>
		<div class="modorulink">
			<a href="{% block modorulink %}{% endblock %}"><img src="{{ url_for('static', filename='images/modoru.png') }}" alt="戻る"></a>
		</div>
		{% block content %}{% endblock %}
		<div id="bg_homebutton" onclick="changeDisplay()"><img src="{{ url_for('static', filename='images/bg_home.png') }}"></div>
		<div id="bg_menu">
			<ul>
				<li><a href="{{ url_for('teacher.menu.t_menu') }}" class="pull-item">メニュー</a></li>
				<li><a href="{{ url_for('teacher.student.teacher_student') }}" class="pull-item">生徒管理</a></li>
				<li><a href="#" class="menu-item">チャット</a></li>
				<li><a href="{{ url_for('teacher.jikanwari.t_jikanwari') }}" class="pull-item">時間割管理</a></li>
				<li><a href="{{ url_for('teacher.teisyutsu.t_teisyutsu') }}" class="pull-item">提出物管理</a></li>
				<Li><a href="{{ url_for('teacher.seiseki.search') }}" class="pull-item">成績管理</a></Li>
				<li><a href="{{ url_for('teacher.sent.teacher_sent') }}" class="pull-item">お知らせ送信</a></li>
				<!-- <li><a href="#" class="pull-icon">通知</a></li> -->
				<li><a href="{{ url_for('teacher.profile.profile')}}" class="pull-icon">アカウント情報</a></li>
			</ul>
		</div>
	</body>
	<script>
		const changeDisplay = () => {
			var ele = document.getElementById('bg_menu');

			if (ele.style.display == 'block') {
			ele.style.display = 'none';
			} else {
				ele.style.display = 'block';
			}
		};
	</script>
</html>