{% extends "stdent/base.html" %}
{% block title %}プロフィール編集{% endblock %}
{% block modorulink %}<a href="{{ url_for('student.profile.profile') }}">戻る</a>{% endblock %}
{% block content %}
<h2>プロフィール編集</h2>
<form method="POST" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <div>
        {{ form.profile_image.label }}<br>
        {{ form.profile_image }}
    </div>
    <div>
        {{ form.submit }}
    </div>
</form>
<form action="{{ url_for('student.profile.reset_profile_image') }}" method="POST">
    <button type="submit">デフォルトアイコンに戻す</button>
</form>
{% endblock %}
