{% extends "student/base.html" %}
{% block title %}アカウント情報{% endblock %}
{% block modorulink %}<a href="{{ url_for('student.menu.s_menu') }}">戻る</a>{% endblock %}
{% block content %}

<!-- auth/views.pyのlogout関数を実行 -->
<a href="{{ url_for('auth.logout') }}" class="nav-link">ログアウト</a>

<h2>アカウント情報</h2>
<h3>学生証</h3>

<div class="profile-container">
    <div class="profile-image">
        <!-- 画像の変更がわかるflashメッセージを表示 -->
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="flashes">
                {% for category, message in messages %}
                    <div class="flash {{ category }}">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}    
    <!-- ユーザーがアイコンを設定してない場合はデフォルトアイコンを表示 -->
    <img src="{{ url_for('student.profile.upload_file', filename=student.icon_path.split('uploads/icon/')[1] if student.icon_path else 'icon/default/default_icon.png') }}" alt="プロフィール画像">
    <button onclick="window.location.href='{{ url_for('student.profile.edit_profile_image') }}'">画像を編集</button>
    </div>
    <table>
        <tr>
            <th>氏名</th>
            <td>{{ student.student_name }}</td>
        </tr>
        <tr>
            <th>入学年度</th>
            <td>{{ student.entrollment_year }}</td>
        </tr>
        <tr>
            <th>生徒番号</th>
            <td>{{ student.id }}</td>
        </tr>
        <tr>
            <th>生年月日</th>
            <td>{{ student.birth_date }}</td>
        </tr>
        <tr>
            <th>学校名</th>
            <td>{{ school_name }}</td>
        </tr>
        <tr>
            <th>コース名</th>
            <td>{{ course_name }}</td>
        </tr>
        <tr>
            <th>クラス番号</th>
            <td>{{ student.class_num }}</td>
        </tr>
        <tr>
            <th>メールアドレス</th>
            <td>{{ student.student_email }}</td>
        </tr>
        <tr>
            <th>パスワード</th>
            <td>********</td>
            <td><a href="{{ url_for('student.profile.reset_password') }}">変更</a></td>
        </tr>
    </table>

</div>
{% endblock %}
