{% extends "teacher/base.html" %}

{% block title %}提出物採点{% endblock %}

{% block h1 %}提出物採点{% endblock %}

{% block modorulink %}{{ url_for('teacher.teisyutsu.t_teisyutsu') }}{% endblock %}

{% block content %}
<div class="list_out">
    <div id="saiten_index" class="grey font_white">
        {% with error_messages = get_flashed_messages(with_categories=true) %}
        {% if error_messages %}
            <div class="flashes">
                {% for category, m in error_messages %}
                    <div class="flash {{ category }}">{{ m }}</div>
                {% endfor %}
            </div>
        {% endif %}
        {% endwith %} 
        <div id="saiten_info">
            <ul>
                <li>科目名　:{{submission.Subject.subject_name}}</li>
                <li>提出物名:{{submission.Submission.submission_name}}</li>
                {% if submission.Submission.submission_type==1 %}
                <li>実施内容:効果測定</li>
                {% elif submission.Submission.submission_type==2 %}
                <li>実施内容:演習問題</li>
                {% endif %}
            </ul>
            <div id="saiten_action">
            <a href="{{ url_for('teacher.saiten.manual') }}" id="downroad" class="font_grey">ダウンロード</a>
            <a href="{{ url_for('teacher.saiten.auto') }}" id="loading_a" onclick="saiten()" class="white font_grey">採点</a>
            <a href="{{ url_for('teacher.saiten.show') }}" class="white font_grey">点数</a>
            </div>
            <p id="loading_p" class="hidden">採点には時間がかかります。<br>ページの読み込みを停止させないでください。</p>
        </div>
        <!-- <table>
            <tr><th>生徒番号</th><th>氏名</th><th>提出状況</th></tr>
        </table>
        <div class="scroll_palent">
        <table class="scroll_child">
            {% for p in personal %}
            <tr>
                <td>{{ p.Student.id }}</td>
                <td>{{ p.Student.student_name }}</td>
                <td>
                    {% if p.Personal_Submission.submitted %}
                    <div id="submitted_true">✓</div>
                    {% else %}
                    <div id="submitted_none"></div>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
        </div> -->
    </div>
</div>
<script>
    var loadingAElm = document.getElementById("loading_a");
    var loadingPElm = document.getElementById("loading_p");
    function saiten(){
        loadingAElm.style.backgroundColor="#D9D9D9";
        loadingAElm.innerText='採点中...';
        loadingPElm.classList.remove("hidden");
    }
</script>
{% endblock %}