{% extends "teacher/base.html" %}

{% block title %}点数一覧{% endblock %}

{% block h1 %}点数一覧{% endblock %}

{% block modorulink %}{{ url_for('teacher.teisyutsu.t_teisyutsu') }}{% endblock %}


{% block content %}
<div class="form_out" id="resultlist">
<div class="form_in grey font_white">
    <table>
        <tr><th style="width: 40vh; text-align: start;">氏名</th><th style="width: 20vh; text-align: start;">点数</th></tr>
    </table>
    <div class="scroll_palent" style="height: 40vh;">
    <table class="scroll_child">
        {% for p in personal_lst %}
        <tr>
        <td style="width: 40vh; text-align: start; border-bottom: solid 1px white;">{{p.Student.student_name}}({{p.Student.id}})</td>
        <td style="width: 20vh; text-align: start; border-bottom: solid 1px white;">{{p.Personal_Submission.point}}</td>
        </tr>
        {% endfor %}
    </table>
    </div>

</div>
</div>
{% endblock %}