<!-- auth/base.htmlを継承 -->
{% extends "auth/base.html" %}

<!-- base.htmlのblock title の中にhtmlを埋め込む -->
{% block title %}ログイン{% endblock %}

<!-- base.htmlのblock contentの中にhtmlを埋め込む -->
{% block content %}
<div class="mx-auto dt-auth-main">
    <div class="card dt-auth-login">
        <br>
        <h2 class="login-head">ログイン</h2>
        <section>
            <h3>教員</h3>
            <!-- フォーム入力後はauth/views.pyのlogin関数を実行 -->
            <form method="post" class="login-form" action="{{ url_for('auth.login') }}">
                <!-- flash関数で入力したメッセージを順に取得 -->
                {% for message in get_flashed_messages() %}
                <!-- メッセージを順に表示 -->
                <span class="dt-auth-flash">{{ message }}</span>
                {% endfor %}
                <!-- csrf対策。とりあえずすべてのhtmlファイルに書いておく -->
                {{ teacherform.csrf_token }}
                <!-- auth/forms.pyのLoginFormクラスのemail、password、の情報を基にフォームを作成 -->
                <!-- form.xxxの取得でforms.pyのxxxの情報を取得できる -->
                {{ teacherform.teacher_id(placeholder="教員番号") }}
                <br>
                {{ teacherform.teacher_password(placeholder="パスワード") }}
                <br>
                <a href="{{ url_for('auth.reset') }}">パスワードを忘れた方はこちら</a>
                <br>
                {{ teacherform.submit }}
            </form>
        </section>

        <section>
            <h3>生徒</h3>
            <!-- フォーム入力後はauth/views.pyのlogin関数を実行 -->
            <form method="post" class="login-form" action="{{ url_for('auth.login') }}">
                <!-- flash関数で入力したメッセージを順に取得 -->
                {% for message in get_flashed_messages() %}
                <!-- メッセージを順に表示 -->
                <span class="dt-auth-flash">{{ message }}</span>
                {% endfor %}
                <!-- csrf対策。とりあえずすべてのhtmlファイルに書いておく -->
                {{ studentform.csrf_token }}
                <!-- auth/forms.pyのLoginFormクラスのemail、password、の情報を基にフォームを作成 -->
                <!-- form.xxxの取得でforms.pyのxxxの情報を取得できる -->
                {{ studentform.student_id(placeholder="生徒番号") }}
                <br>
                {{ studentform.student_password(placeholder="パスワード") }}
                <br>
                <a href="{{ url_for('auth.reset') }}">パスワードを忘れた方はこちら</a>
                <br>
                {{ studentform.submit }}
            </form>
        </section>
    </div>
</div>
{% endblock %}