<!-- auth/base.htmlを継承 -->
{% extends "auth/base.html" %}

<!-- base.htmlのblock title の中にhtmlを埋め込む -->
{% block title %}ログイン{% endblock %}

<!-- base.htmlのblock contentの中にhtmlを埋め込む -->
{% block content %}
<div id="h1_title"><h1>ログイン</h1></div>
<section class="loginform-forms-section">
    
    <div class="loginform-forms">
        <div class="loginform-form-wrapper is-active">
            <button type="loginform-button" class="loginform-switcher loginform-switcher-teacher">
                教員
                <span class="loginform-underline"></span>
            </button>
            <!-- フォーム入力後はauth/views.pyのlogin関数を実行 -->
            <form method="post" class="login-form loginform-form loginform-form-teacher" action="{{ url_for('auth.login') }}">

                <!-- csrf対策。とりあえずすべてのhtmlファイルに書いておく -->
                {{ teacherform.csrf_token }}
                <!-- auth/forms.pyのLoginFormクラスのemail、password、の情報を基にフォームを作成 -->
                <!-- form.xxxの取得でforms.pyのxxxの情報を取得できる -->
                <div class="loginform-input-block">
                    {{ teacherform.teacher_id(id="loginform-teacher-id", placeholder="教員番号") }}
                </div>
                <div class="loginform-input-block">
                    {{ teacherform.teacher_password(id="loginform-teacher-password", placeholder="パスワード") }}
                </div>
                <a href="{{ url_for('auth.reset') }}">パスワードを忘れた方はこちら</a>
                {{ teacherform.submit(class="loginform-btn") }}
            </form>
        </div>
        
        <div class="loginform-form-wrapper">
            <button type="button" class="loginform-switcher loginform-switcher-student">
                生徒
                <span class="loginform-underline"></span>
            </button>
            <!-- フォーム入力後はauth/views.pyのlogin関数を実行 -->
            <form method="post" class="login-form loginform-form loginform-form-student" action="{{ url_for('auth.login') }}">
                <!-- csrf対策。とりあえずすべてのhtmlファイルに書いておく -->
                {{ studentform.csrf_token }}
                <!-- auth/forms.pyのLoginFormクラスのemail、password、の情報を基にフォームを作成 -->
                <!-- form.xxxの取得でforms.pyのxxxの情報を取得できる -->
                <div class="loginform-input-block">
                    {{ studentform.student_id(id="loginform-student-id", placeholder="生徒番号") }}
                </div>
                <div class="loginform-input-block">
                    {{ studentform.student_password(id="loginform-student-password", placeholder="パスワード") }}
                </div>
                <a href="{{ url_for('auth.reset') }}">パスワードを忘れた方はこちら</a>
                {{ studentform.submit(class="loginform-btn") }}
            </form>
        </div>
    </div>
</section>

<script>
    const switchers = [...document.querySelectorAll('.loginform-switcher')]

    switchers.forEach(item => {
    item.addEventListener('click', function() {
        switchers.forEach(item => item.parentElement.classList.remove('is-active'))
        this.parentElement.classList.add('is-active')
    })
    })
</script>
{% endblock %}