{% extends "auth/base.html" %}

{% block title %}パスワードリセット{% endblock %}

{% block content %}
<h2 class="title">パスワードリセット</h2>
<div class="form_white">
    {% if message %}
    <p class="error">{{message}}</p>
    {% endif %}
    <form method="post" action="{{ url_for('auth.newpw')}}">
        {{ form.csrf_token }}
        {{ form.password1(class="form_input") }}
        <br>
        {{ form.password2(class="form_input") }}
        <br>
        <p class="form_p">パスワードは8文字以上25文字以内で入力してください</p>
        <br>
        {{ form.submit(class="form_submit") }}
    </form>
</div>
{% endblock %}