{% extends "auth/base.html" %}

{% block title %}パスワードリセット{% endblock %}

{% block content %}
<div id="h1_title"><h1>パスワードリセット</h1></div>
<div class="modorulink"><a href="{{url_for('auth.login')}}"><img src="{{ url_for('static', filename='images/modoru.png') }}" alt="戻る"></a></div>
<div class="form_white">
    {% if message %}
    <p class="error">{{message}}</p>
    {% endif %}
    <form class="form_white_form" method="post" action="{{ url_for('auth.newpw')}}">
        {{ form.csrf_token }}
        {{ form.password1(class="form_input") }}
        <br>
        {{ form.password2(class="form_input") }}
        <br>
        <p class="form_p">パスワードは8文字以上25文字以内で入力してください</p>
        <br>
        {{ form.submit(class="form_submit") }}
    </form>
</div>
{% endblock %}