{% extends "auth/base.html" %}

{% block title %}パスワードリセット{% endblock %}

{% block content %}
<div class="modorulink"><a href="{{url_for('auth.login')}}"><img src="{{ url_for('static', filename='images/modoru.png') }}" alt="戻る"></a></div>
<h1 id="title">パスワードリセット</h1>
<div class="form_white">
    <form method="post" action="{{ url_for('auth.reset')}}">
        {{ form.csrf_token }}
        {{ form.id(class="form_input") }}
        <br>
        {{ form.mail(class="form_input") }}
        <br>
        <p class="form_p">ワンタイムパスワードをメールで送信します。<br>メールアドレスを入力してください</p>
        <br>
        {{ form.submit(class="form_submit") }}
    </form>
</div>
<!-- <script>
    const idElm = document.getElementById("id");
    idElm.placeholder = "{{ form.id.label }}";
</script> -->
{% endblock %}