<!-- auth/base.htmlを継承 -->
{% extends "auth/base.html" %}
<!-- base.htmlのblock title の中にhtmlを埋め込む -->
{% block title %}ユーザー新規登録{% endblock %}

<!-- base.htmlのblock contentの中にhtmlを埋め込む -->
{% block content %}
<div class="mx-auto dt-auth-main">
    <div class="card dt-auth-signup">
        <br>
        <h2 class="signup-head">新規登録</h2>
        {% with error_messages = get_flashed_messages(with_categories=true) %}
        {% if error_messages %}
            <div class="flashes">
                {% for category, m in error_messages %}
                    <div class="flash {{ category }}">{{ m }}</div>
                {% endfor %}
            </div>
        {% endif %}
        {% endwith %} 
        <section>
            <h3>教員</h3>
            <!-- フォーム入力後はauth/views.pyのsignup関数を実行。変数nextに現在のページ情報を追加。 -->
            <form method="post" action="{{ url_for('auth.signup')}}"
                class="form-signin">
                <!-- csrf対策。とりあえず書いておく -->
                {{ teacherform.csrf_token }}
                <!-- flash関数で指定したメッセージを順に表示 -->
                {% for message in get_flashed_messages() %}
                <div class="dt-auth-flash">{{ message }}</div>
                {% endfor %}
                <!-- auth/forms.pyのSignUpクラスの情報を基にフォームを作成 -->
                {{ teacherform.teacher_id(placeholder="教員番号") }}
                <br>
                {{ teacherform.teacher_name(placeholder="氏名") }}
                <br>
                {{ teacherform.teacher_email(placeholder="メールアドレス") }}
                <br>
                {{ teacherform.teacher_password(placeholder="パスワード") }}
                <br>
                クラス番号{{ teacherform.teacher_class_num(placeholder="クラス番号") }}
                <br>
                管理者権限{{ teacherform.teacher_authority(placeholder="管理者権限") }}
                <br>
                {{ teacherform.submit }}
            </form>
            <!-- <br>
            <div class="had-account">すでにアカウントをお持ちですか？<a class="nav-link" href="{{ url_for('auth.login') }}">ログイン</a></div> -->
        </section>

        
        <section>
            <h3>生徒</h3>
            <!-- フォーム入力後はauth/views.pyのsignup関数を実行。変数nextに現在のページ情報を追加。 -->
            <form method="post" action="{{ url_for('auth.signup')}}"
                class="form-signin">
                <!-- csrf対策。とりあえず書いておく -->
                {{ studentform.csrf_token }}
                <!-- flash関数で指定したメッセージを順に表示 -->
                {% for message in get_flashed_messages() %}
                <div class="dt-auth-flash">{{ message }}</div>
                {% endfor %}
                <!-- auth/forms.pyのSignUpクラスの情報を基にフォームを作成 -->
                {{ studentform.student_id.label }}
                {{ studentform.student_id(placeholder="生徒番号") }}
                <br>
                {{ studentform.student_name.label }}
                {{ studentform.student_name(placeholder="氏名") }}
                <br>
                {{ studentform.student_email.label }}
                {{ studentform.student_email(placeholder="メールアドレス") }}
                <br>
                {{ studentform.student_password.label }}
                {{ studentform.student_password(placeholder="パスワード") }}
                <br>
                {{ studentform.student_entrollment_year.label }}
                {{ studentform.student_entrollment_year(placeholder="入学年度") }}
                <br>
                {{ studentform.student_birth_date.label }}
                {{ studentform.student_birth_date(placeholder="誕生日") }}
                <br>
                {{ studentform.student_school.label }}
                {{ studentform.student_school(placeholder="学校名") }}
                <br>
                {{ studentform.student_class_num.label }}
                {{ studentform.student_class_num(placeholder="クラス番号") }}
                <br>
                {{ studentform.submit }}
            </form>
        </section>
    </div>
</div>
{% endblock %}