<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>gemini api</title>
</head>
<body>
<h2 class="newEvent-title">gemini api</h2>
<!-- crud/views.pyのcreate_user関数を実行 -->
<form action="{{ url_for('gemini.gemini_app') }}" method="POST" novalidate="novalidate">
    <!-- csrf対策。とりあえず書いておく -->
    {{ form.csrf_token }}
    <p>
        <!-- ユーザ名の入力欄を表示 -->
        <div class="event-title">{{ form.question.label }} </div>
        <div class="event-form">{{ form.question }}</div>
    </p>
    <!-- ユーザ名の入力に誤りがある場合はエラーを順に表示 -->
    {% for error in form.question.errors %}
    <span style="color: red;">{{ error }}</span>
    {% endfor %}
    <p>
        <!-- ユーザ名の入力欄を表示 -->
        <div class="event-title">{{ form.code.label }} </div>
        <div class="event-form">{{ form.code(placeholder="おい、なんか言ってみろよ") }}</div>
    </p>
    <!-- ユーザ名の入力に誤りがある場合はエラーを順に表示 -->
    {% for error in form.code.errors %}
    <span style="color: red;">{{ error }}</span>
    {% endfor %}
    <div class="submit-btn">{{ form.submit(class="btn") }}</div>
</form>
</body>