{% extends "student/base.html" %}
{% block title %}出席登録{% endblock %}

{% block modorulink %}{{ url_for('student.menu.s_menu') }}{% endblock %}
{% block h1 %}出席登録{% endblock %}
{% block content %}
<div class="form_white">
    <form action="{{ url_for('student.syusseki.s_syusseki') }}" method="POST">
        {{ form.csrf_token }}
        
        <!-- フォーム全体のエラーメッセージを表示 -->
        {% if form.attendance_code.errors %}
            <ul class="errors" style="color:red">
                {% for error in form.attendance_code.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <div class="form-group">
            <label for="attendance_code">出席コード</label>
            {{ form.attendance_code(class="form-control", id="attendance_code") }}
        </div>

        <button type="submit">出席登録</button>
    </form>
</div>
{% endblock %}
