{% extends "currydar/base.html"%}
{% block head %}
<title>イベント新規作成</title>
{% endblock %}
{% block content %}
<h2 class="newEvent-title">イベント新規作成</h2>
<!-- crud/views.pyのcreate_user関数を実行 -->
<form action="{{ url_for('currydar.add_event') }}" method="POST" novalidate="novalidate">
    <!-- csrf対策。とりあえず書いておく -->
    {{ form.csrf_token }}
    <p>
        <!-- ユーザ名の入力欄を表示 -->
        <div class="event-title">{{ form.event.label }} </div>
        <div class="event-form">{{ form.event(placeholder="イベント") }}</div>
    </p>
    <!-- ユーザ名の入力に誤りがある場合はエラーを順に表示 -->
    {% for error in form.event.errors %}
    <span style="color: red;">{{ error }}</span>
    {% endfor %}
    <p>
        <!-- 日付の入力欄を表示 -->
        <div class="date-title">{{ form.date.label }}</div>
        <div class="date-form">{{ form.date(placeholder="日付") }}</div>
    </p>
    <!-- 日付の入力に誤りがある場合はエラーを順に表示 -->
    {% for error in form.date.errors %}
    <span style="color: red;">{{ error }}</span>
    {% endfor %}
    <div class="submit-btn">{{ form.submit(class="btn") }}</div>
</form>
{% endblock %}