a.menu-item img {
    width: 250px;
}

li {
    list-style: none;
}

a.menu-icon img {
    width: 12%;
}

a.t-student img {
    width: 250px;
}

/* 共通部分 */
#body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
    background-image: url("../images/bg_left.png"), url("../images/bg_repeat.png"), url("../images/bg_EduEase_400.png"), url("../images/bg_black_right.png");
    background-size: auto 95%, 100% 95%, auto 100%, 100% 100%;
    background-repeat: no-repeat, no-repeat, repeat, repeat;
    background-position: 0 0, 30vh 0, 0 0, 0 0;
  }

#bg_homebutton {
    position: fixed;
    bottom: 8vh;
    right: 10px;
}

#bg_homebutton img{
    height: 9vh;
}

#bg_menu {
  width: 15%;
  position: fixed;
  bottom: 20%;
  right: 10px;
  background-color: aqua;
  display: none;
}
/* 共通部分 */

#submitted_true {
    width: 40px;
    height: 32px;
    border: solid 4px greenyellow;
    border-radius: 40px;
    background-color: greenyellow;
    font-size: 32px;
    text-align: center;
    color: white;
    padding-bottom: 8px;
}

#submitted_false {
    width: 40px;
    height: 32px;
    border: solid 4px red;
    border-radius: 40px;
    background-color: red;
    font-size: 32px;
    text-align: center;
    color: white;
    padding-bottom: 8px;
}

#submitted_none {
    width: 40px;
    height: 40px;
    border: solid 4px gray;
    border-radius: 40px;
}

.toggle_switch_outer {
    width: 40px;
    height: 20px;
    background-color: lightgray;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
    transition: background-color .2s ease-in-out;
}
.toggle_switch_outer.active {
    background-color: #51E373;
}
.toggle_switch_inner {
    width: 17px;
    height: 17px;
    border-radius: 50%;
    position: absolute;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 2px;
    margin: auto;
    transition: left .3s ease-in-out;
}
.toggle_switch_inner.active {
    left: 21px;
}

/* テーブル全体のスタイル */
.jikanwari-table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #333; /* ダークな背景色 */
    color: #fff; /* 白文字 */
}

/* ヘッダー */
.jikanwari-th {
    padding: 10px;
    background-color: #444; /* ダークな背景色 */
    text-align: center;
}

/* 各セル */
.jikanwari-td {
    padding: 10px;
    background-color: #555; /* セルの背景色 */
    border: 1px solid #666; /* セルの境界線 */
}

/* 削除ボタン */
.jikanwari-delete-button {
    color: #ffcc00; /* ボタンの文字色 */
    text-decoration: none;
}
