<!DOCTYPE html>
<html>
	<head>
		<title>{% block title %}{% endblock %}</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/stylecss.css') }}" />
	</head>
	<body>
		<div>
			{% block modorulink %}{% endblock %}
		</div>
		{% block content %}{% endblock %}
		<div id="bg_homebutton" onclick="changeDisplay()"><img src="{{ url_for('static', filename='images/bg_home.png') }}"></div>
		<div id="bg_menu">
			<ul>
				<li><a href="{{ url_for('student.menu.s_menu') }}" class="pull-item">メニュー</a></li>
				<li><a href="{{ url_for('student.syusseki.s_syusseki') }}" class="pull-item">出席登録</a></li>
				<li><a href="{{ url_for('student.todo.s_todo') }}" class="pull-item">TODOリスト</a></li>
				<li><a href="{{ url_for('student.jikanwari.s_jikanwari') }}" class="pull-item">授業確認</a></li>
				<li><a href="{{ url_for('student.teisyutsu.s_teisyutsu_index') }}" class="pull-item">提出物確認</a></li>
				<li><a href="{{ url_for('student.seiseki.s_seiseki') }}" class="pull-item">成績確認</a></li>
				<li><a href="{{ url_for('student.enquete.s_enquete') }}" class="pull-item">アンケート</a></li>
				<li><a href="#" class="pull-item">通知</a></li>
				<li><a href="{{ url_for('student.profile.profile')}}" class="pull-item">アカウント情報</a></li>
			</ul>
		</div>
	</body>
	<script>
		const changeDisplay = () => {
			var ele = document.getElementById('bg_menu');

			if (ele.style.display == 'block') {
			ele.style.display = 'none';
			} else {
				ele.style.display = 'block';
			}
		};
	</script>
</html>