{% extends "student/base.html" %}
{% block title %}成績確認{% endblock %}

{% block modorulink %}{{ url_for('student.seiseki.s_seiseki') }}{% endblock %}
{% block h1 %}成績確認{% endblock %}
{% block content %}
<div class="form_out">
  <div class="form_in grey font_white s_seiseki">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    {% if submissions %}
        <h3>{{subject.name}}</h3>
          <div class="scroll_palent" style="height: 40vh; width: 100%;">
          <table class="scroll_child">
            <tbody>
                {% for submission in submissions %}
                <tr>
                    <td style="width: 30vh;">{{ submission.Submission.submission_name }}</td>
                    {% if submission.Personal_Submission.point or submission.Personal_Submission.point==0%}
                    <td style="width: 30vh;">点数  {{ submission.Personal_Submission.point }}</td>
                    {% else %}
                    <td style="width: 30vh;">未提出</td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
    {% else %}
        <p>表示できるスコアはありません。</p>
    {% endif %}
  </div>
</div>
{% endblock %}