{% extends "student/base.html" %}
{% block title %}成績確認{% endblock %}

{% block modorulink %}{{ url_for('student.menu.s_menu') }}{% endblock %}
{% block h1 %}成績確認{% endblock %}
{% block content %}
<div class="form_out">
  <div class="form_in grey font_white s_seiseki">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    {% if scores %}
        <table>
            <thead>
                <tr>
                    <th style="width: 20vh;">科目名</th>
                    <th style="width: 20vh;">評価ID</th>
                    <th style="width: 20vh;">出席日数</th>
                </tr>
            </thead>
          </table>
          <div class="scroll_palent" style="height: 40vh; width: 100%;">
          <table class="scroll_child">
            <tbody>
                {% for score, subject_name in scores %}
                <tr>
                    <td style="width: 20vh;"><a class="font_white" href="{{ url_for('student.seiseki.s_submission', subject_id=score.subject_id) }}">{{ subject_name }}</a></td>
                    <td style="width: 20vh;">{{ score.assessment_id }}</td>
                    <td style="width: 20vh;">{{ score.attend_day }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
    {% else %}
        <p>表示できるスコアはありません。</p>
    {% endif %}
  </div>
</div>
{% endblock %}