{% extends "teacher_teisyutsu/base.html" %}

{% block modorulink %}<a href="{{ url_for('teacher.menu.t_menu') }}"></a>{% endblock %}

{% block content %}
<div>
    <form action="{{ url_for('teacher.teisyutsu.t_teisyutsu') }}" method="POST">
    {{ form.csrf_token }}
    {{ form.subject.label }}{{ form.subject }}
    <br>
    {{ form.type.label }}{{ form.type }}
    <br>
    {{ form.submit }}
    </form>
</div>
<div>
    <a href="{{ url_for('teacher.teisyutsu.t_teisyutsu_add') }}">+</a>
    <table>
        <tr><th>ファイル名</th><th>実施内容</th><th></th><th></th></tr>
        {% for sub in submissions %}
        <tr>
            <!-- <th><a href="">採点</a></th> -->
            <td>{{ sub.Submission.submission_name}}</td>
            <td>{{ sub.Submission.submission_type}}</td>
            <td><a href="{{ url_for('teacher.teisyutsu.t_teisyutsu_edit', submission_id=sub.Submission.submission_id) }}">変更</a></td>
            <td><a href="{{ url_for('teacher.teisyutsu.t_teisyutsu_delete', submission_id=sub.Submission.submission_id) }}">削除</a></td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}