{% extends "teacher/base.html" %}

{% block h1 %}提出物変更{% endblock %}

{% block modorulink %}{{ url_for('teacher.teisyutsu.t_teisyutsu') }}{% endblock %}

{% block content %}
<div id="t_sub_add_out">
    <div id="t_sub_add_in" class="white">
        <div class="for_saiten_buttons"><button id="question_button">問題文</button><button id="testcase_button">テストケース</button></div>
        <form action="{{ url_for('teacher.teisyutsu.t_teisyutsu_edit', submission_id=submission_id) }}" method="POST" style="display: contents;">
        {{ form.csrf_token }}
        <div class="div_form">  
            <div class="t_sub_add_input">
            {{ form.name }}
            </div>
            <div class="t_sub_add_input">
            {{ form.subject.label }}{{ form.subject }}
            </div>
            <div class="t_sub_add_input">
            {{ form.type.label }}{{ form.type }}
            </div>
            <div class="t_sub_add_input">
            {{ form.rimit.label }}{{ form.rimit }}
            </div>
            <div class="t_sub_add_input">
            {{ form.scoring_type.label }}{{ form.scoring_type }}
            </div>
            <br>
            {{ form.submit(class="grey font_white") }}
        </div>
        <div id="div_question" class="grey font_white scroll_palent">
            <p>生成AIによる採点を使用する場合問題文を入力してください</p>
            {{ form.question(class="scroll_child") }}
        </div>
        <textarea class="hidden" id="testcase" name="testcase" readonly></textarea>
        </form>
        <div id="div_testcase" class="grey font_white">
            <p>テストケースによる採点を使用する場合テストケースを設定してください</p>
            <div class="div_table">
                <table><tr><th>入力</th><th>出力</th><th class="th_add"><button id="add" class="white font_grey">追加</button></th></tr></table>
                <div class="scroll_palent"><table id="testcaseTable" class="scroll_child"></table></div>
            </div>
        </div>
    </div>
</div>

<script>
    var questionButtonElm = document.getElementById("question_button");
    var testcaseButtonElm = document.getElementById("testcase_button");
    var questionElm = document.getElementById("div_question");
    var testcaseElm = document.getElementById("div_testcase");

    questionButtonElm.onclick = () => {
        questionButtonElm.style.backgroundColor="#606C75"
        questionButtonElm.style.color="#fff"
        testcaseButtonElm.style.backgroundColor="#D9D9D9"
        testcaseButtonElm.style.color="#7D7D7D"
        testcaseElm.classList.add("hidden");
        questionElm.classList.remove("hidden");
    }
    testcaseButtonElm.onclick = () => {
        testcaseButtonElm.style.backgroundColor="#606C75"
        testcaseButtonElm.style.color="#fff"
        questionButtonElm.style.backgroundColor="#D9D9D9"
        questionButtonElm.style.color="#7D7D7D"
        questionElm.classList.add("hidden");
        testcaseElm.classList.remove("hidden");
    }
    questionButtonElm.style.backgroundColor="#606C75"
    questionButtonElm.style.color="#fff"
    testcaseButtonElm.style.backgroundColor="#D9D9D9"
    testcaseButtonElm.style.color="#7D7D7D"
    testcaseElm.classList.add("hidden");


    let addButton = document.getElementById("add");
    let testcase = document.getElementById("testcase");
    let testcaseTable = document.getElementById("testcaseTable");
    
    function resetClassname() {
        var inputElm = document.getElementsByClassName("input");
        var outputElm = document.getElementsByClassName("output");
        var deleteElm = document.getElementsByClassName("delete");
        inputChange(inputElm, outputElm)
        for (let i = 0; i < deleteElm.length; i++) {
            inputElm[i].addEventListener("change", function(){inputChange(inputElm, outputElm)})
            outputElm[i].addEventListener("change", function(){inputChange(inputElm, outputElm)})
            deleteElm[i].onclick = () => {
                deleteElm[i].parentNode.parentNode.remove();
                inputChange(inputElm, outputElm)
                resetClassname();
            }
        }
    }
    
    
    function addTestcase(input_txt, output_txt) {
        var rowElm = document.createElement("tr");
        rowElm.classList.add("tesacaseRow");
        var data1Elm = document.createElement("td");
        var data2Elm = document.createElement("td");
        var data3Elm = document.createElement("td");
        rowElm.appendChild(data1Elm);
        rowElm.appendChild(data2Elm);
        rowElm.appendChild(data3Elm);
        var newInputElm = document.createElement("textarea");
        var newOutputElm = document.createElement("textarea");
        var newDeleteElm = document.createElement("button");
        newDeleteElm.innerText = "削除";
        newInputElm.innerHTML = input_txt;
        newOutputElm.innerHTML = output_txt;
        newInputElm.classList.add("input");
        newOutputElm.classList.add("output");
        newDeleteElm.classList.add("delete");
        data1Elm.appendChild(newInputElm);
        data2Elm.appendChild(newOutputElm);
        data3Elm.appendChild(newDeleteElm);
        testcaseTable.appendChild(rowElm);
    }
    
    function inputChange(inputElm, outputElm){
        var testcaseText = ""
        for (let i = 0; i < inputElm.length; i++){
            if (inputElm[i].value || outputElm[i].value) {
                testcaseText += "\n<<<start>>>\n";
                testcaseText += inputElm[i].value;
                testcaseText += "\n<<<change>>>\n";
                testcaseText += outputElm[i].value;
                testcaseText += "\n<<<end>>>\n"
            }
        }
        testcase.value = testcaseText;
    }
    {% for t in testcase %}
    addTestcase(`{{t[0]}}`, `{{t[1]}}`);
    resetClassname();
    {% endfor %}

    addButton.addEventListener('click', function(){
        addTestcase("", "");
        resetClassname();
    })
</script>
{% endblock %}