{% extends "teacher/base.html" %}

{% block modorulink %}{{ url_for('teacher.teisyutsu.t_teisyutsu_edit', submission_id=submission_id) }}{% endblock %}

{% block content %}
<div>
    <form action="{{ url_for('teacher.teisyutsu.t_teisyutsu_confirm_edit') }}" method="POST">
    {{ form.csrf_token }}
    {{ form.name.label }}
    <input type="text" name="name" value="{{ form.name.data }}" readonly>
    <br>
    {{ form.subject.label }}
    <select name="subject">
        <option value="{{ form.subject.choices[0][0]}}">{{ form.subject.choices[0][1] }}</option>
    </select>
    <br>
    {{ form.type.label }}
    <select name="type">
        <option value="{{ form.type.choices[0][0]}}">{{ form.type.choices[0][1] }}</option>
    </select>
    <br>
    {{ form.rimit.label }}
    <input type="text" name="rimit" value="{{ form.rimit.data }}" readonly>
    <br>
    {{ form.scoring_type.label }}
    <select name="scoring_type">
        <option value="{{ form.scoring_type.choices[0][0]}}">{{ form.scoring_type.choices[0][1] }}</option>
    </select>
    <br>
    {{ form.question.label }}
    <textarea id="question" name="question" readonly>{{ form.question.data }}</textarea>
    <br>
    {{ form.testcase.label }}
    <textarea id="testcase" name="testcase" readonly>{{ form.testcase.data }}</textarea>
    <br>
    {{ form.submit }}
    </form>
</div>
{% endblock %}