{% extends "student/base.html" %}
{% block title %}生徒メニュー{% endblock %}
{% block content %}
<header>
    <!-- 通知とアカウント情報のアイコン -->
    <!-- 通知 -->
    <div class="teacher-session">
        <a href="#" class="menu-icon">
            <img src="{{ url_for('static', filename='images/notice.png') }}" alt="通知">
            <p class="icon-text">通知</p>
        </a>
        <!-- アカウント情報へのリンクを記述 -->
    </div>
</header>

<div class="student-menu">
    <ul>
        <!-- 出席登録 -->
        <li><a href="{{ url_for('student.syusseki.s_syusseki') }}" class="menu-item">
            <img src="{{ url_for('static', filename='images/syussekitouroku.png') }}" alt="生徒管理">
        </a></li>
        
        <!-- TODOリスト -->
        <li><a href="{{ url_for('student.todo.s_todo') }}" class="menu-item">
            <img src="{{ url_for('static', filename='images/todolist.png') }}" alt="チャット">
        </a></li>

        <!-- 授業確認 -->
        <li><a href="{{ url_for('student.jikanwari.s_jikanwari') }}" class="menu-item">
            <img src="{{ url_for('static', filename='images/jyugyoukakunin.png') }}" alt="時間割管理">
        </a></li>

        <!-- 提出物確認 -->
        <li><a href="{{ url_for('student.teisyutsu.s_teisyutsu_index') }}" class="menu-item">
            <img src="{{ url_for('static', filename='images/teisyutsukakunin.png') }}" alt="提出物管理">
        </a></li>

        <!-- 成績確認 -->
        <li><a href="{{ url_for('student.seiseki.s_seiseki') }}" class="menu-item">
            <img src="{{ url_for('static', filename='images/seisekikakunin.png') }}" alt="成績管理">
        </a></li>

        <!-- アンケート -->
        <li><a href="{{ url_for('student.enquete.s_enquete') }}" class="menu-item">
            <img src="{{ url_for('static', filename='images/anke-to.png') }}" alt="お知らせ送信">
        </a></li>
    </ul>
</div>


{% endblock %}
