{% extends "teacher_teisyutsu/base.html" %}
{% block title %}クラス管理{% endblock %}
{% block modorulink %}<a href="{{ url_for('teacher.student.teacher_student') }}">戻る</a>{% endblock %}
{% block content %}

<h2>クラス管理</h2>

    {% for class_num, students in class_students.items() %}
        <h2>クラス: {{ class_num }}</h2>
        <button onclick="scrollContainer('class-{{ class_num }}', -1)">左へスクロール</button>
        <button onclick="scrollContainer('class-{{ class_num }}', 1)">右へスクロール</button>
        <div class="class-container" id="class-{{ class_num }}">
            {% for student in students %}
                <div class="student-card">
                    <p>生徒番号: {{ student.id }}</p>
                    <p>氏名: {{ student.student_name }}</p>

                </div>
            {% endfor %}
        </div>
    {% endfor %}

    <script>
        // 左右にスクロールする関数
        function scrollContainer(id, direction) {
            const container = document.getElementById(id);
            container.scrollBy({
                left: direction * 200,  // スクロールする距離を調整
                behavior: 'smooth'
            });
        }
    </script>
{% endblock %}