{% extends "teacher/base.html" %}
{% block title %}クラス管理{% endblock %}
{% block h1 %}クラス管理{% endblock %}
{% block modorulink %}{{ url_for('teacher.student.teacher_student') }}{% endblock %}
{% block content %}

{% for class_num, students in class_students.items() %}
<div class="list_out">
    <h3 class="selected_h3 font_white">クラス {{ class_num }}</h3>
        <!-- スクロールするためのボタン（仮） -->
        <div class="class-container list_in" style="white-space: nowrap;"  id="class-{{ class_num }}">
            <!-- <div class="t_classlist_button"><button onclick="scrollContainer('class-{{ class_num }}', -1)"><img src="{{ url_for('static', filename='images/toleft.png') }}" alt="左へスクロール"></button></div> -->
            <div class="t_classlist_table grey font_white">
                {% with error_messages = get_flashed_messages(with_categories=true) %}
                {% if error_messages %}
                    <div class="flashes">
                        {% for category, m in error_messages %}
                            <div class="flash {{ category }}">{{ m }}</div>
                        {% endfor %}
                    </div>
                {% endif %}
                {% endwith %} 
                <table class="table_head">
                <thead>
                    <tr>
                        <th style="width: 100px;">生徒番号</th>
                        <th style="width: 180px;">氏名</th>
                    </tr>
                </thead>
            </table>
            <div class="scroll_palent" style="height: 220px;">
            <table class="table_body scroll_child">
                <tbody>
                    {% for student in students %}
                        <tr>
                            <td class="table_text" style="width: 100px;">{{ student.id }}</td>
                            <td class="table_text" style="width: 200px;">{{ student.student_name }}</td>
                            <td class="table_button">
                                <!-- 削除ページのリンクを生徒ごとに表示 -->
                                <a href="{{ url_for('teacher.student.delete_confirm', id=student.id) }}" class="red font_white">削除</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>
            </div>
            <!-- <div class="t_classlist_button"><button onclick="scrollContainer('class-{{ class_num }}', 1)"><img src="{{ url_for('static', filename='images/toright.png') }}" alt="右へスクロール"></button></div> -->
        </div>
    </div>
</div>
{% endfor %}

    <script>
        // 左右にスクロールする関数
        function scrollContainer(id, direction) {
            const container = document.getElementById(id);
            container.scrollBy({
                left: direction * 200,  // スクロールする距離を調整
                behavior: 'smooth'
            });
        }
    </script>
{% endblock %}