{% extends "teacher_teisyutsu/base.html" %}
{% block title %}生徒管理メニュー{% endblock %}
{% block modorulink %}<a href="{{ url_for('teacher.menu.t_menu') }}">戻る</a>{% endblock %}
{% block content %}

        <div class="teacher-student">
            <ul>
                <li><a href="class_list" class="t-student">
                    <img src="{{ url_for('static', filename='images/kurasukanri.png') }}" alt="クラス管理">
                </a></li>
                
                <li><a href="student_list" class="t-student">
                    <img src="{{ url_for('static', filename='images/seitoitiran.png') }}" alt="生徒一覧">
                </a></li>
            </ul>
        </div>
{% endblock %}