<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>生徒管理メニュー</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/stylecss.css') }}">
    </head>
    <body>
        <header>
            <a href="{{ url_for('teacher.menu.t_menu') }}">戻る</a>
        </header>

        <div class="teacher-student">
            <ul>
                <li><a href="class_list" class="t-student">
                    <img src="{{ url_for('static', filename='images/kurasukanri.png') }}" alt="クラス管理">
                </a></li>
                
                <li><a href="student_list" class="t-student">
                    <img src="{{ url_for('static', filename='images/seitoitiran.png') }}" alt="生徒一覧">
                </a></li>
            </ul>
        </div>
    </body>
</html>