{% extends "teacher/base.html" %}

{% block title %}授業の追加{% endblock %}
{% block h1 %}授業の追加{% endblock %}
{% block modorulink %}{{ url_for('teacher.jikanwari.t_jikanwari') }}{% endblock %}

{% block content %}
<div class="jikanwari_out">
    <!-- 年と月の選択 -->
    <form method="POST" action="{{ url_for('teacher.jikanwari.save_timetable') }}">
        <div class="jikanwari_buttons">
        <select name="year" id="year-select" onchange="updateDays()">
            <option value="{{ thisyear-1 }}" {% if selected_year == thisyear-1 %}selected{% endif %}>{{ thisyear-1 }}</option>
            <option value="{{ thisyear }}" {% if selected_year == thisyear %}selected{% endif %}>{{ thisyear }}</option>
            <option value="{{ thisyear+1 }}" {% if selected_year == thisyear+1 %}selected{% endif %}>{{ thisyear+1 }}</option>
        </select>
        <label for="year-select" class="font_white">年</label>

        <select name="month" id="month-select" onchange="updateDays()">
            <option value="1" {% if selected_month == 1 %}selected{% endif %}>1月</option>
            <option value="2" {% if selected_month == 2 %}selected{% endif %}>2月</option>
            <option value="3" {% if selected_month == 3 %}selected{% endif %}>3月</option>
            <option value="4" {% if selected_month == 4 %}selected{% endif %}>4月</option>
            <option value="5" {% if selected_month == 5 %}selected{% endif %}>5月</option>
            <option value="6" {% if selected_month == 6 %}selected{% endif %}>6月</option>
            <option value="7" {% if selected_month == 7 %}selected{% endif %}>7月</option>
            <option value="8" {% if selected_month == 8 %}selected{% endif %}>8月</option>
            <option value="9" {% if selected_month == 9 %}selected{% endif %}>9月</option>
            <option value="10" {% if selected_month == 10 %}selected{% endif %}>10月</option>
            <option value="11" {% if selected_month == 11 %}selected{% endif %}>11月</option>
            <option value="12" {% if selected_month == 12 %}selected{% endif %}>12月</option>
        </select>
        <label for="month-select" class="font_white">月</label>
        <button type="submit" class="lightgrey font_grey">保存</button>
        </div>

        <!-- カレンダー表示 -->
        <div class="jikanwari_in">
        <table class="jikanwari-table jikanwari_table_head" id="calendar-table">
            <thead>
                <tr class="jikanwari-tr">
                    <th class="jikanwari-th grey font_white">{{selected_year}}年 {{selected_month}}月</th>
                    <th class="jikanwari-th lightgrey2 font_white">1時間目</th>
                    <th class="jikanwari-th lightgrey2 font_white">2時間目</th>
                    <th class="jikanwari-th lightgrey2 font_white">3時間目</th>
                    <th class="jikanwari-th lightgrey2 font_white">備考</th>
                    <th class="jikanwari-th lightgrey2 font_white">イベント</th>
                </tr>
            </thead>
        </table>
        <div class="scroll_palent" style="height: 240px;">
        <table class="scroll_child jikanwari_table_body">
            <tbody id="calendar-body">
                {% for date in dates_and_weekdays %}
                    {% set entry = existing_data.get(date.day, None) %}
                    {% if date.weekday != '土' and date.weekday != '日'%}
                    <tr>
                        <td class="jikanwari-td jikanwari-date grey font_white">{{ date.day }}</td>
                        <td class="jikanwari-td jikanwari-date grey font_white">{{ date.weekday }}</td>
                        <td class="jikanwari-td white">
                            <select name="period1_{{ date.day }}">
                                <option value="0"></option>
                                {% for subject in subjects %}
                                {% if entry.period1 == subject.Subject.subject_id %}
                                    <option value="{{ subject.Subject.subject_id }}" selected>{{ subject.Subject.subject_name }}</option>
                                {% else %}
                                    <option value="{{ subject.Subject.subject_id }}">{{ subject.Subject.subject_name }}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                        </td>
                        <td class="jikanwari-td white">
                            <select name="period2_{{ date.day }}">
                                <option value="0"></option>
                                {% for subject in subjects %}
                                {% if entry.period2 == subject.Subject.subject_id %}
                                    <option value="{{ subject.Subject.subject_id }}" selected>{{ subject.Subject.subject_name }}</option>
                                {% else %}
                                    <option value="{{ subject.Subject.subject_id }}">{{ subject.Subject.subject_name }}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                        </td>
                        <td class="jikanwari-td white">
                            <select name="period3_{{ date.day }}">
                                <option value="0"></option>
                                {% for subject in subjects %}
                                {% if entry.period3 == subject.Subject.subject_id %}
                                    <option value="{{ subject.Subject.subject_id }}" selected>{{ subject.Subject.subject_name }}</option>
                                {% else %}
                                    <option value="{{ subject.Subject.subject_id }}">{{ subject.Subject.subject_name }}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                        </td>
                        <td class="jikanwari-td white">
                            <input type="text" name="notes_{{ date.day }}" value="{{ entry.notes if entry else '' }}" placeholder="備考">
                        </td>
                        <td class="jikanwari-td white">
                            <input type="text" name="event_{{ date.day }}" value="{{ entry.event if entry else '' }}" placeholder="イベント">
                        </td>
                    </tr>
                    {% else %}
                    <tr>
                        <td class="jikanwari-td jikanwari-date grey font_white">{{ date.day }}</td>
                        <td class="jikanwari-td jikanwari-date grey font_white">{{ date.weekday }}</td>
                        <td class="jikanwari-td lightgrey4">
                            <select name="period1_{{ date.day }}" class="lightgrey4">
                                <option value="0"></option>
                                {% for subject in subjects %}
                                {% if entry.period1 == subject.Subject.subject_id %}
                                    <option value="{{ subject.Subject.subject_id }}" selected>{{ subject.Subject.subject_name }}</option>
                                {% else %}
                                    <option value="{{ subject.Subject.subject_id }}">{{ subject.Subject.subject_name }}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                        </td>
                        <td class="jikanwari-td lightgrey4">
                            <select name="period2_{{ date.day }}" class="lightgrey4">
                                <option value="0"></option>
                                {% for subject in subjects %}
                                {% if entry.period2 == subject.Subject.subject_id %}
                                    <option value="{{ subject.Subject.subject_id }}" selected>{{ subject.Subject.subject_name }}</option>
                                {% else %}
                                    <option value="{{ subject.Subject.subject_id }}">{{ subject.Subject.subject_name }}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                        </td>
                        <td class="jikanwari-td lightgrey4">
                            <select name="period3_{{ date.day }}" class="lightgrey4">
                                <option value="0"></option>
                                {% for subject in subjects %}
                                {% if entry.period3 == subject.Subject.subject_id %}
                                    <option value="{{ subject.Subject.subject_id }}" selected>{{ subject.Subject.subject_name }}</option>
                                {% else %}
                                    <option value="{{ subject.Subject.subject_id }}">{{ subject.Subject.subject_name }}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                        </td>
                        <td class="jikanwari-td lightgrey4">
                            <input type="text" name="notes_{{ date.day }}" value="{{ entry.notes if entry else '' }}" placeholder="備考" class="lightgrey4">
                        </td>
                        <td class="jikanwari-td lightgrey4">
                            <input type="text" name="event_{{ date.day }}" value="{{ entry.event if entry else '' }}" placeholder="イベント" class="lightgrey4">
                        </td>
                    </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
        </div>
        </div>
    </form>
</div>

    <script>
        function updateDays() {
            const year = document.getElementById("year-select").value;
            const month = document.getElementById("month-select").value;

            // 年と月が変更された時に、ページを再読み込みして日付と曜日を更新する
            window.location.href = `{{ url_for('teacher.jikanwari.add_entry') }}?year=${year}&month=${month}`;
        }
    </script>

{% endblock %}
