{% extends "teacher/base.html" %}

{% block title %}授業数一覧{% endblock %}
{% block h1 %}授業数一覧{% endblock %}
{% block modorulink %}{{ url_for('teacher.jikanwari.t_jikanwari') }}{% endblock %}

{% block content %}
<div class="container list_out">
    <div class="list_in grey font_white">

    <div class="t_classcount_start">
        <a href="{{ url_for('teacher.jikanwari.show_class_count') }}" class="lightgrey font_grey">授業数登録</a>
    </div>

    <table class="table_head">
        <thead>
            <tr>
                <th style="width: 320px;">授業名</th>
                <th style="width: 150px;">コマ数</th>
                <th style="width: 150px;">単位数</th>  <!-- 単位数の列を追加 -->
            </tr>
        </thead>
    </table>
    <div class="scroll_palent" style="height: 200px;">
    <table class="table_body scroll_child">
        <tbody>
            {% for subject in subjects %}
            <tr>
                <td style="width: 320px;">{{ subject.Subject.subject_name }}</td>  <!-- 授業名 -->
                <td style="width: 150px;">{{ subject.SubjectDetails.periods }} コマ</td>  <!-- コマ数 -->
                <td style="width: 150px;">{{ subject.SubjectDetails.units }} 単位</td>  <!-- 単位数 -->
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
    </div>
</div>
{% endblock %}
