{% extends "teacher/base.html" %}

{% block title %}入力内容の確認{% endblock %}

{% block modorulink %}{{ url_for('teacher.jikanwari.show_class_count') }}{% endblock %}

{% block content %}
    <!-- teacher_jikanwari/confirm_class_count.html -->
<h1>登録しますか？</h1>

<form method="POST">
    <table>
        <tr>
            <th>科目名</th>
            <th>コマ数</th>
            <th>単位数</th>
        </tr>
        {% for data in form_data %}
        <tr>
            <td>{{ data.subject_name }}</td>
            <td>{{ data.periods }}</td>
            <td>{{ data.units }}</td>
        </tr>
        {% endfor %}
    </table>

    <br>

    <button type="submit">登録</button>
</form>

{% endblock %}
