{% extends "teacher/base.html" %}

{% block title %}入力内容の確認{% endblock %}
{% block h1 %}授業数登録{% endblock %}
{% block modorulink %}{{ url_for('teacher.jikanwari.show_class_count') }}{% endblock %}

{% block content %}
    <!-- teacher_jikanwari/confirm_class_count.html -->
<div class="form_out">
    <h3 id="h3_sub" class="font_white">登録しますか？</h3>
<form class="form_in white t_classcount_form" method="POST">
    <table class="table_head">
        <tr>
            <th style="width:20vh;">授業科目名</th>
            <th style="width:20vh;">コマ数</th>
            <th style="width:20vh;">単位数</th>
        </tr>
    </table>
    <div class="scroll_palent" style="height: 20vh;">
    <table class="table_body scroll_child">
        {% for data in form_data %}
        <tr>
            <td style="width:20vh;">{{ data.subject_name }}</td>
            <td style="width:20vh;"><select class="lightgrey font_black" disabled=true><option>{{ data.periods }}</option></select></td>
            <td style="width:20vh;"><select class="lightgrey font_black" disabled=true><option>{{ data.units }}</option></select></td>
        </tr>
        {% endfor %}
    </table>

    </div>
    <button type="submit" class="grey font_white">登録</button>
</form>
</div>

{% endblock %}
