{% extends "teacher/base.html" %}

{% block title %}削除確認{% endblock %}

{% block modorulink %}
<a href="{{ url_for('teacher.jikanwari.class_list') }}">授業数一覧</a>
{% endblock %}

{% block content %}
    <div class="container">
        <h1>削除確認画面</h1>

        <h2>本当に "{{ subject.name }}" を削除しますか？</h2>

        <!-- 削除確認フォーム -->
        <form action="{{ url_for('teacher.jikanwari.delete_class_count', subject_id=subject.id) }}" method="POST" style="margin-top: 20px;">
            <button type="submit" class="delete-btn">はい</button>
        </form>

    </div>
{% endblock %}
