{% extends "teacher/base.html" %}
{% block title %}アカウント情報{% endblock %}
{% block h1 %}アカウント情報{% endblock %}
{% block modorulink %}{{ url_for('teacher.menu.t_menu') }}{% endblock %}
{% block content %}

<!-- auth/views.pyのlogout関数を実行 -->
<div id="logoutlink"><a href="{{ url_for('auth.logout') }}" class="loguot" style="float: right;"><img src="{{ url_for('static', filename='images/logout.png') }}" alt="戻る"></a></div>



<div class="profile-container list_out">
    
    <div class="list_in grey font_white">
        <div class="profile-image">
            <!-- 画像の変更がわかるflashメッセージを表示 -->
            <!-- {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="flashes">
                    {% for category, m in messages %}
                        <div class="flash {{ category }}">{{ m }}</div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}     -->
        <!-- ユーザーがアイコンを設定してない場合はデフォルトアイコンを表示 -->
        <img src="{{ url_for('teacher.profile.upload_file', filename=teacher.icon_path.split('uploads/icon/')[1] if teacher.icon_path else 'icon/default/default_icon.png') }}" alt="プロフィール画像">
        <br><button onclick="window.location.href='{{ url_for('teacher.profile.edit_profile_image') }}'">画像を編集</button>
        </div>
        <table>
            <tr>
                <th>教員番号</th>
                <td>{{ teacher.id }}</td>
            </tr>
            <tr>
                <th>クラス番号</th>
                <td>{{ teacher.class_num }}</td>
            </tr>
            <tr>
                <th>氏名</th>
                <td>{{ teacher.teacher_name }}</td>
            </tr>
            <tr>
                <th>メールアドレス</th>
                <td>{{ teacher.teacher_email }}</td>
            </tr>
            <tr>
                <th>パスワード</th>
                <td><p>********</p><a href="{{ url_for('teacher.profile.reset_password') }}" class="white font-grey">変更</a></td>
            </tr>
        </table>
    </div>
</div>
{% endblock %}
