{% extends "teacher/base.html" %}
{% block title %}お知らせ送信{% endblock %}
{% block modorulink %}{{ url_for('teacher.menu.t_menu') }}{% endblock %}
{% block content %}

<form method="POST">
    {{ form.hidden_tag() }}

    <!-- 宛先 -->
    <div>
        {{ form.address.label }}
        {% for error in form.address.errors %}
            <div>{{ error }}</div>
        {% endfor %}
        {{ form.address }}
    </div>

    <!-- タイトル -->
    <div>
        {{ form.title.label }}
        {% for error in form.title.errors %}
            <div>{{ error }}</div>
        {% endfor %}
        {{ form.title }}
    </div>

    <!-- 本文 -->
    <div>
        {{ form.discription.label }}
        {% for error in form.discription.errors %}
            <div>{{ error }}</div>
        {% endfor %}
        {{ form.discription }}
    </div>
    
    <button type="submit">{{ form.submit.label }}</button>
</form>
{% endblock %}
