{% extends "student/base.html" %}

{% block title %}{% endblock %}

{% block h1 %}提出物一覧{% endblock %}

{% block modorulink %}{{ url_for('student.menu.s_menu') }}{% endblock %}

{% block content %}
<div class="list_out">
    <div class="list_in white">
        <div class="toggle_switch_outer">
            <div class="toggle_switch_inner"></div>
        </div>
        <div id="stu_sub_table" class="list_table">
            <table>
                {% for sub in submission %}
                <tr>
                    <td class="sub_td_title">{{ sub.Submission.submission_name }}</td>
                    <td>
                        {% if sub.Personal_Submission.submitted %}
                        <div id="submitted_true">✓</div>
                        {% else %}
                        <div id="submitted_none"></div>
                        {% endif %}
                    </td>
                    <td><a href="{{ url_for('student.teisyutsu.s_teisyutsu', submission_id=sub.Personal_Submission.submission_id) }}" class="grey font_white">提出</a></td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
<script>
    const switchOuter = document.querySelector(".toggle_switch_outer");
    const toggleSwitch = document.querySelector(".toggle_switch_inner");
    var subTable = document.getElementById("stu_sub_table");
    var submitted = true

    //クリックでacitveクラスを追加/削除
    switchOuter.addEventListener("click", () => {
        switchOuter.classList.toggle("active");
        toggleSwitch.classList.toggle("active");
        if (submitted) {
            subTable.innerHTML = `
            <table>
            {% for sub in submission %}
            {% if sub.Personal_Submission.submitted %}
            {% else %}
            <tr>
                <td class="sub_td_title">{{ sub.Submission.submission_name }}</td>
                <td>  <div id="submitted_none"></div></td>
                <td><a href="{{ url_for('student.teisyutsu.s_teisyutsu', submission_id=sub.Personal_Submission.submission_id) }}" class="grey font_white">提出</a></td>
            </tr>
            {% endif %}
            {% endfor %}
            </table>
            `;
            submitted = false
        } else {
            subTable.innerHTML = `
            <table>
            {% for sub in submission %}
            <tr>
                <td class="sub_td_title">{{ sub.Submission.submission_name }}</td>
                <td>
                    {% if sub.Personal_Submission.submitted %}
                    <div id="submitted_true">✓</div>
                    {% else %}
                    <div id="submitted_none"></div>
                    {% endif %}
                </td>
                <td><a href="{{ url_for('student.teisyutsu.s_teisyutsu', submission_id=sub.Personal_Submission.submission_id) }}" class="grey font_white">提出</a></td>
            </tr>
            {% endfor %}
            </table>
            `;
            submitted = true
        }
    });
</script>
{% endblock %}