{% extends "student/base.html" %}

{% block title %}提出{% endblock %}

{% block h1 %}提出{% endblock %}

{% block modorulink %}{{ url_for('student.teisyutsu.s_teisyutsu_index') }}{% endblock %}

{% block content %}
<div class="form_white">
    <form id="stu_sub_form" class="form_white_form" action="{{ url_for('student.teisyutsu.s_teisyutsu', submission_id=submission.submission_id) }}" method="post" enctype="multipart/form-data" novalidate="novalidate">
        <!-- csrf対策。とりあえず書いておく -->
        {{ form.csrf_token }}
        <h2 class="font_grey">{{ submission.submission_name }}</h2>
        {{ form.file }}
        <p class="form_p">提出するファイルを選択してください</p>
        {{ form.submit(class="form_submit") }}
    </form>
</div>
{% endblock %}