{% extends "teacher/base.html" %}
{% block title %}成績登録{% endblock %}
{% block h1 %}成績登録{% endblock %}
{% block modorulink %}{{ url_for('teacher.seiseki.search') }}{% endblock %}
{% block content %}
<body id="body">
    <div class="form_out">
        <!-- 登録が完了したら以下の内容を表示 -->
        {% if success %}
        <h1 id="title_done">登録が完了しました</h1>
        <div id="link_done"><a class="lightgrey font_grey" href="{{ url_for('teacher.seiseki.search') }}" class="back-to-timetable-btn">成績一覧に戻る</a></div>

        <!-- 最初に入力フォームの表示を行う -->
        {% elif not confirm %}
        <form class="form_in t_seiseki_add_form white" action="{{ url_for('teacher.seiseki.add') }}" method="POST" novalidate="novalidate">
            {{ score.csrf_token }}
            <!-- 既に登録した情報が存在する際にエラー文を表示する処理 -->
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <ul class="flashes font_white">
                        {% for category,message in messages %}
                            <li class="{{ category }}">{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
            <p>{{ score.id.label(class="t_seiseki_add_label") }} {{ score.id(class="form_input t_seiseki_add_input") }}</p>
            <!-- 各エラーが起きた際の処理(forms.py参照) -->
            {% for error in score.id.errors %}
                <span style="color:red">{{ error }}</span>
            {% endfor %}

            <p>{{ score.subject_id.label(class="t_seiseki_add_label") }} {{ score.subject_id(class="form_input t_seiseki_add_input") }}</p>
            {% for error in score.subject_id.errors %}
                <span style="color:red">{{ error }}</span>
            {% endfor %}

            <p>{{ score.assessment_id.label(class="t_seiseki_add_label") }} {{ score.assessment_id(class="form_input t_seiseki_add_input") }}</p>
            <button class="form_button grey font_white" type="submit" name="action" value="confirm">確認</button>
        </form>

        <!-- 入力が完了したら確認画面に遷移 -->
        {% else %}
        <h3 id="h3_sub" class="font_white">以下の内容を登録しますか？</h3>
        <form class="form_in t_seiseki_add_form white" action="{{ url_for('teacher.seiseki.add') }}" method="POST" novalidate="novalidate">
            {{ score.csrf_token }}
            <p style="margin: 9px 0;">生徒番号: {{ score.id(disabled=true, class="font_black") }}</p>
            <p style="margin: 9px 0;">生徒名: {{ student_name }}</p>
            <p style="margin: 9px 0;">科目名: {{ score.subject_id(disabled=true, class="font_black") }}</p>
            <p style="margin: 9px 0;">評価: {{ score.assessment_id(disabled=true, class="font_black") }}</p>
            <input type="hidden" name="id" value="{{ score.id.data }}">
            <!-- 一応ここにも追加したけど必要なさそう -->
            {% for error in score.id.errors %}
                <span style="color:red">{{ error }}</span>
            {% endfor %}
            <input type="hidden" name="id" value="{{ score.id.data }}">
            {% for error in score.id.eerrors %}
                <span style="color:red">{{ error }}</span>
            {% endfor %}
            <input type="hidden" name="subject_id" value="{{ score.subject_id.data }}">
            {% for error in score.subject_id.errors %}
                <span style="color:red">{{ error }}</span>
            {% endfor %}
            <input type="hidden" name="assessment_id" value="{{ score.assessment_id.data }}">
            {% for error in score.assessment_id.errors %}
                <span style="color:red">{{ error }}</span>
            {% endfor %}
            <button type="submit" name="action" value="add" class="form_button grey font_white">確定</button>
        </form>
        {% endif %}
    </div>
</body>
{% endblock %}