{% extends "teacher/base.html" %}
{% block title %}成績登録{% endblock %}

{% block modorulink %}{{ url_for('teacher.seiseki.search') }}{% endblock %}
{% block content %}
<div color="form_white">
    <h2>成績登録</h2>
    <!-- 登録が完了したら以下の内容を表示 -->
    {% if success %}
    <p>登録が完了しました</p>   

    <!-- 最初に入力フォームの表示を行う -->
    {% elif not confirm %}
    <form action="{{ url_for('teacher.seiseki.add') }}" method="POST" novalidate="novalidate">
        {{ score.csrf_token }}
        <!-- 既に登録した情報が存在する際にエラー文を表示する処理 -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul class="flashes">
                    {% for category,message in messages %}
                        <li class="{{ category }}">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <p>{{ score.id.label }} {{ score.id }}</p>
        <!-- 各エラーが起きた際の処理(forms.py参照) -->
        {% for error in score.id.errors %}
            <span style="color:red">{{ error }}</span>
        {% endfor %}

        <p>{{ score.subject_id.label }} {{ score.subject_id }}</p>
        {% for error in score.subject_id.errors %}
            <span style="color:red">{{ error }}</span>
        {% endfor %}

        <p>{{ score.assessment_id.label }} {{ score.assessment_id }}</p>
        <button type="submit" name="action" value="confirm">確認</button>
    </form>

    <!-- 入力が完了したら確認画面に遷移 -->
    {% else %}
    <form action="{{ url_for('teacher.seiseki.add') }}" method="POST" novalidate="novalidate">
        {{ score.csrf_token }}
        <h3>以下の内容を登録しますか？</h3>
        <p>生徒番号: {{ score.id }}</p>
        <p>生徒名: {{ student_name }}</p>
        <p>科目名: {{ score.subject_id }}</p>
        <p>評価: {{ score.assessment_id }}</p>
        <input type="hidden" name="id" value="{{ score.id.data }}">
        <!-- 一応ここにも追加したけど必要なさそう -->
        {% for error in score.id.errors %}
            <span style="color:red">{{ error }}</span>
        {% endfor %}
        <input type="hidden" name="id" value="{{ score.id.data }}">
        {% for error in score.id.eerrors %}
            <span style="color:red">{{ error }}</span>
        {% endfor %}
        <input type="hidden" name="subject_id" value="{{ score.subject_id.data }}">
        {% for error in score.subject_id.errors %}
            <span style="color:red">{{ error }}</span>
        {% endfor %}
        <input type="hidden" name="assessment_id" value="{{ score.assessment_id.data }}">
        {% for error in score.assessment_id.errors %}
            <span style="color:red">{{ error }}</span>
        {% endfor %}
        <button type="submit" name="action" value="add">確定</button>
    </form>
    {% endif %}
</div>
{% endblock %}