{% extends "teacher/base.html" %}
{% block title %}コード発行完了{% endblock %}
{% block h1 %}<br>{% endblock %}
{% block content %}
<body id="body">
        <!-- コードを表示する -->
    <div class="form_out">
        <div class="form_in grey font_white">
            <div><label>発行された出席コード: {{ code }}</label><a id="s_code_modoru" class="white font_grey" href="{{ url_for('teacher.seiseki.search') }}">戻る</a></div>
            <div>
                <table class="table_head">
                    <tr><td style="width: 40vh;">生徒</td><td style="width: 20vh;">出席</td></tr>
                </table>
            </div>
            <div class="scroll_palent" style="height: 32vh;">
                <table class="scroll_child table_body">
                {% for student in student_list %}
                    <tr>
                        <td style="width: 40vh; border-bottom: 1px solid white;">
                            {{student.student_name}}({{student.id}})
                        </td>
                        <td style="width: 20vh; border-bottom: 1px solid white;">
                            {% if student.id in syusseki %}
                                <div id="submitted_true">✓</div>
                            {% else %}
                                <div id="submitted_none"></div>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </table>
            </div>
        </div>
    </div>
</body>
{% endblock %}