<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>成績</title>
    </head>
<!-- 以下のコードはお試し用のため、修正は必須になります -->
    <body>
        <h2>成績</h2>
            <select name="subject_name">
                <option value=""></option>
                <option value="python">Python</option>
                <option value="employment">就職関連</option>
            </select>
            <select name="class_num">
                <option value=""></option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
            </select>
            <p></p>
            <p></p>
    </body>
</html>