{% extends "teacher/base.html" %}
{% block title %}出席コード発行{% endblock %}
{% block h1 %}出席コード発行{% endblock %}
{% block modorulink %}{{ url_for('teacher.seiseki.search') }}{% endblock %}
{% block content %}
<body id="body">
    <div class="form_out">
        <form method="post" class="form_in white">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <ul class="flashes">
                        {% for category,message in messages %}
                            <li class="{{ category }}">{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
            <br>
            <!-- 時間割のうちあてはまるのを選択 -->
            <label>時間割を選択してください:</label>
            <select name="period">
                {% for i, period, name in periods %}
                <option value="{{ period }}">{{ i }}時限目: {{ name }}</option>
                {% endfor %}
            </select>
            <br><br><br><br>
            <button class="form_button grey font_white" type="submit">出席コード発行</button>
        </form>
    </div>
</body>
{% endblock %}