<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>成績</title>
    </head>
<!-- 以下のコードはお試し用のため、変更は必須になります -->
    <body>
        <h2>成績</h2>
        <form action="{{ url_for('teacher.teacher_seiseki') }}" method="POST" novalidate="novalidate">
            {{ form.csrf_token }}
            <select name="subject_name">
                <option value="python">Python</option>
                <option value="employment">就職関連</option>
            </select>
            <select name="class_num">
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
            </select>
            <p>
                生徒番号 {{ form.student_num }}
            </p>
            <p>{{ form.submit() }}</p>
        </form>
    </body>
</html>