<!DOCTYPE html>
<html>
	<head>
		<title>{% block title %}{% endblock %}</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/stylecss.css') }}" />
	</head>
	<body id="body">
	<div id="h1_title"><h1>{% block h1 %}{% endblock %}</h1></div>
	<div class="modorulink"><a href="{{url_for('teacher.menu.t_menu')}}"><img src="{{ url_for('static', filename='images/modoru.png') }}" alt="戻る"></a></div>
	<div id="admin">	
		<div class="inner grey">
			<div class="left white">
				{% block nav %}{% endblock %}
				<a href="{{url_for('auth.signup')}}" class="font_grey">アカウント新規作成</a>
			</div>
			{% block content %}{% endblock %}
		</div>
	</div>
	</body>
	<script>
		const changeDisplay = () => {
			var ele = document.getElementById('bg_menu');

			if (ele.style.display == 'block') {
			ele.style.display = 'none';
			} else {
				ele.style.display = 'block';
			}
		};
	</script>
</html>