{% extends "admin/base.html" %}

{% block title %}Courseテーブル{% endblock %}
{% block h1 %}Courseテーブル{% endblock %}
{% block nav %}
<ul>
    <li class="lightgrey3"><a href="{{url_for('admin.course')}}" class="font_white">Courseテーブル</a></li>
    <li><a href="{{url_for('admin.subject')}}" class="font_grey">Subjectテーブル</a></li>
    <li><a href="{{url_for('admin.cs')}}" class="font_grey">CourseSubjectテーブル</a></li>
    <li><a href="{{url_for('admin.class_num')}}" class="font_grey">ClassNumテーブル</a></li>
    <li><a href="{{url_for('admin.school')}}" class="font_grey">Schoolテーブル</a></li>
</ul>
{% endblock %}
{% block content %}
<div class="right">
    <div class="add white font_grey">
    <label class="action_label">追加</label>
    <form method="post" action="{{ url_for('admin.course')}}"
        class="form-signin">
        <!-- csrf対策。とりあえず書いておく -->
        {{ course_form.csrf_token }}
        <!-- auth/forms.pyのSignUpクラスの情報を基にフォームを作成 -->
        {{ course_form.course_name.label }}
        {{ course_form.course_name(placeholder="コース名") }}
        {{ course_form.submit(class="grey font_white") }}
    </form>
    </div>
    <div class="table font_white">
    <table>
        <tr><th style="width: 56vh;">course_id</th><th style="width: 56vh;">course_name</th></tr>
    </table>
    <div class="scroll_palent">
    <table class="scroll_child">
    {% for c in course_list %}
    <tr><td style="width: 56vh;">{{ c.course_id }}</td><td style="width: 56vh;">{{ c.course_name }}</td></tr>     
    {% endfor %}
    </table>
    </div>
    </div>
    <div class="del white font_grey">
    <label class="action_label">削除</label>
    <a href="{{url_for('admin.course_delete')}}" class="red font_white">Courseテーブルのすべてを消す</a>
    </div>
</div>
{% endblock %}