{% extends "admin/base.html" %}

{% block title %}Courseテーブル{% endblock %}

{% block content %}
<div>
    <h1>Courseテーブル</h1>
    <table>
        <tr><th>id</th><th>course_name</th></tr>
    {% for c in course_list %}
    <tr><td>{{ c.course_id }}</td><td>{{ c.course_name }}</td></tr>     
    {% endfor %}
    </table>
    <br>
    <h2>追加</h2>
    <form method="post" action="{{ url_for('admin.course')}}"
        class="form-signin">
        <!-- csrf対策。とりあえず書いておく -->
        {{ course_form.csrf_token }}
        <!-- auth/forms.pyのSignUpクラスの情報を基にフォームを作成 -->
        {{ course_form.course_name(placeholder="コース名") }}
        <br>
        {{ course_form.submit }}
    </form>
    <br>
    <h2>削除</h2>
    <a href="{{url_for('admin.course_delete')}}">Courseテーブルのすべてを消す</a>
</div>
{% endblock %}