{% extends "admin/base.html" %}

{% block title %}Subjectテーブル{% endblock %}

{% block content %}
<div>
    <h1>Subjectテーブル</h1>
    <table>
        <tr><th>id</th><th>subject_name</th></tr>
    {% for c in subject_list %}
    <tr><td>{{ c.subject_id }}</td><td>{{ c.subject_name }}</td></tr>     
    {% endfor %}
    </table>
    <br>
    <h2>追加</h2>
    <form method="post" action="{{ url_for('admin.subject')}}"
        class="form-signin">
        <!-- csrf対策。とりあえず書いておく -->
        {{ subject_form.csrf_token }}
        <!-- auth/forms.pyのSignUpクラスの情報を基にフォームを作成 -->
        {{ subject_form.subject_name.label }}
        {{ subject_form.subject_name(placeholder="科目名") }}
        <br>
        {{ subject_form.submit }}
    </form>
    <br>
    <h2>削除</h2>
    <a href="{{url_for('admin.subject_delete')}}">Subjectテーブルのすべてを消す</a>
</div>
{% endblock %}